<nav class="navbar navbar-light bg-dark ">
</nav>

<h2 style="color: bisque; text-align: center;">Welcome {{user}}!!! Enjoy Banking with us.</h2>
<a style="color: rgb(169, 112, 43); text-align: center;"routerLink="/transactions"> Transaction History </a>


<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Cash Deposit</h3>

            </div>
            <div class="card-body">
                <!-- <form (ngSubmit)="deposit()"> using ng model -->

                <form [formGroup]="depositForm" (ngSubmit)="deposit()">

                    <div class="input-group form-group">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <!-- <input type="text" class="form-control" name="acno" [(ngModel)]="acno"
                                placeholder="Enter your Account Number" id="dashboard_accno" required> -->

                            <input type="text" class="form-control" name="acno" formControlName="acno"
                                placeholder="Enter your Account Number" id="dashboard_accno" required>

                        </div>
                        <div *ngIf="(this.depositForm.get('acno')?.touched||this.depositForm.get('acno')?.dirty)&&
                        this.depositForm.get('acno')?.errors" style="color: blue;">Invalid Account Number</div>


                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <!-- <input type="password" name="pswd" [(ngModel)]="pswd" class="form-control"
                                placeholder="Enter your Password" id="dashboard_password" required> -->

                            <input type="password" name="pswd" formControlName="pswd" class="form-control"
                                placeholder="Enter your Password" id="dashboard_password" required>

                        </div>

                        <div *ngIf="(this.depositForm.get('pswd')?.touched||this.depositForm.get('pswd')?.dirty)&&
                        this.depositForm.get('pswd')?.errors" style="color: blue;">Invalid Password</div>


                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <!-- <input type="text" class="form-control" name="amount" [(ngModel)]="amount"
                            placeholder="Enter the amount" id="dashboard_amount" required> -->

                        <input type="text" class="form-control" name="amount" formControlName="amount"
                            placeholder="Enter the amount" id="dashboard_amount" required>


                    </div>

                    <div *ngIf="(this.depositForm.get('amount')?.touched||this.depositForm.get('amount')?.dirty)&&
                        this.depositForm.get('amount')?.errors" style="color: blue;">Invalid Amount</div>


                    <div class="form-group">


                        <input type="submit" value="Deposit" class="btn float-right login_btn " style="width:50%">


                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Cash Withdraw</h3>

            </div>
            <div class="card-body">
                <!-- <form (ngSubmit)="withdraw()"> -->

                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">

                    <div class="input-group form-group">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <!-- <input type="text" class="form-control" name="acno" [(ngModel)]="acno1"
                                placeholder="Enter your Account Number" id="dashboard_accno1" required> -->

                            <input type="text" class="form-control" name="acno" formControlName="acno1"
                                placeholder="Enter your Account Number" id="dashboard_accno1" required>


                        </div>

                        <div *ngIf="(this.withdrawForm.get('acno1')?.touched||this.withdrawForm.get('acno1')?.dirty)&&
                        this.withdrawForm.get('acno1')?.errors" style="color: blue;">Invalid Account Number</div>


                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <!-- <input type="password" name="pswd" [(ngModel)]="pswd1" class="form-control"
                                placeholder="Enter your Password" id="dashboard_password1" required> -->

                            <input type="password" name="pswd" formControlName="pswd1" class="form-control"
                                placeholder="Enter your Password" id="dashboard_password1" required>

                        </div>
                        <div *ngIf="(this.withdrawForm.get('pswd1')?.touched||this.withdrawForm.get('pswd1')?.dirty)&&
                        this.withdrawForm.get('pswd1')?.errors" style="color: blue;">Invalid Account Number</div>

                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <!-- <input type="text" class="form-control" name="amount" [(ngModel)]="amount1"
                            placeholder="Enter the amount" id="dashboard_amount1" required> -->

                        <input type="text" class="form-control" name="amount" formControlName="amount1"
                            placeholder="Enter the amount" id="dashboard_amount1" required>

                    </div>
                    <div *ngIf="(this.withdrawForm.get('amount1')?.touched||this.withdrawForm.get('amount1')?.dirty)&&
                        this.withdrawForm.get('amount1')?.errors" style="color: blue;">Invalid Account Number</div>


                    <div class="form-group">


                        <input type="submit" value="Withdraw" class="btn float-right login_btn " style="width:50%">


                    </div>
                </form>
            </div>

        </div>
    </div>
</div>