
<nav class="navbar navbar-light bg-dark ">

</nav>
<h2 style="color: bisque; text-align: center;">Welcome {{user}}!!! Enjoy Banking with us.</h2>

<h1 style="color: white;text-align: center;margin-top: 20px;"> Transaction History </h1>

<table class="table">

    <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transaction">
            <th>{{t.type}}</th>
            <th>{{t.amount}}</th>
        </tr>
    </tbody>

</table>
<a class="home" routerLink="/dashboard">Home</a>